@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
/* font-family: 'Outfit', sans-serif; */

:root {
    --background-color: hsl(212, 45%, 89%);
    --container-bg-color: hsl(0, 0%, 100%);
    --header-color: hsl(218, 44%, 22%);
    --paragraph-color: hsl(220, 15%, 55%);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
}   

.main .container {
    width: 320px;
    height: 497px;
    padding: 16px 16px 40px;
    border-radius: 20px;
    box-shadow: 0px 25px 25px 0px hsla(0, 0%, 0%, 0.050);
    background-color: var(--container-bg-color);
}

.main .container .inner-top {
    width: 288px;
    height: 288px;
}

.main .container .inner-top img {
    width: 288px;
    height: 288px;
    border-radius: 10px;
}

.main .container .inner-bottom {
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 288px;
    height: 129px;
    margin: 24px 0px 0px;
}

.main .container .inner-bottom h1 {
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    width: 288px;
    text-align: center;
    font-family: Outfit;
    font-size: 22px;
    font-weight: 700;
    color: var(--header-color);
}

.main .container .inner-bottom p {
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    width: 256px;
    margin: 16px 16px 0px 16px;
    text-align: center;
    font-family: Outfit;
    font-size: 15px;
    letter-spacing: 0.188px;
    color: var(--paragraph-color);
}

@media screen and (max-width: 350px) {
    .main .container {
        width: 90vw;
        height: auto;
    }
    
    .main .container .inner-top,
    .main .container .inner-bottom {
        width: auto;
        height: auto;
    }

    .main .container .inner-top img {
        width: 100%;
        height: auto;
    }

    .main .container .inner-bottom h1 {
        width: auto;
        font-size: 18px;
    }
    
    .main .container .inner-bottom p {
        width: auto;
        font-size: 14px;
    }
}